<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <title>我的简历</title> 
  <!--通用样式Css和脚本--> 
  <!--引用静态文件:requirejs--> 
  <script type="text/javascript" src="__STATIC__/js/require.js"></script> 
  <!--引用静态文件:skin_default--> 
  <link href="__STAFcss/common.css" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/css/templateform.css" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/css/controls.css" rel="stylesheet" type="text/css" />
  <link href="__STATIC__/css/default.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
    .name{width:600px;height:50px;}

  </style>
  <link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.css" />
  <script type="text/javascript" src="__STATIC__/js/base_new.js"></script>
  <script type="text/javascript" src="__STATIC__/js/widgetnew.js?v=3"></script>
  <script type="text/javascript" src="__STATIC__/js/common.js"></script>
  <script type="text/javascript" src="__STATIC__/js/bsdialog.js"></script>
  <script type="text/javascript" src="__STATIC__/js/common.js"></script>
  <script type="text/javascript" src="__STATIC__/js/controls.js"></script>
  <script type="text/javascript" src="__STATIC__/js/underscore.js"></script>
  <script type="text/javascript" src="__STATIC__/js/school-select-v2.js?v=6"></script>
  <link href="__STATIC__/css/school-select-v2.css" rel="stylesheet" type="text/css" /> 
  <!--引用静态文件:skin_new_css--> 
  <link href="__STATIC__/css/main.css" rel="stylesheet" type="text/css" /> 
  <!--引用静态文件:new_dialog_js--> 
  <script type="text/javascript" src="__STATIC__/js/dialog_js.js"></script> 
  <!--产品头部CSS和脚本--> 
  <script src="__STATIC__/js/WdatePicker.js"></script> 
  <!--引用静态文件:front_css--> 
  <link href="__STATIC__/css/front.css" rel="stylesheet" type="text/css" />  
  <style type="text/css">
          .checkbox_list {float: left;width: 450px;}
          .form_container ul li span.start_date {width: 80px;}
          .form_container ul li span.end_date {width: 70px;}
          .dl_logo img {
              width: auto!important;
              height: 40px!important;
              margin: 16px 0 0 30px!important;
            }
            body{background-image:url(__STATIC__/images/dd.jpg);}
    </style> 
 </head> 
 <body> 
  <div class="bs_deliver"> 
   <div class="dl_header_border"> 
    <div class="dl_header clearfix"> 
     <div class="dl_logo"> 
      <img id="logoImg" class="header-logo-img" src="__STATIC__/images/104003_medias_20141215_20141215logo.jpg?v=635542641034400000" style="width: 300px;height:80px;display: none;" /> 
     </div> 
     <div class="dl_rightit"> 
      <div class="isApplyDetail" style="display:none"> 
       <div class="isLogin" style="display:none"> 
        <span id="topUserEmail" class="pad3" title=""><span class="userShortName"></span>，欢迎您！</span> 
        <span class="pad3"><a href="__STATIC__/index.html">招聘首页</a></span> 
        <em class="dl_header_line dl_padtb05">|</em> 
        <span class="isUserCenter" style="display:none"> <span class="pad3"><a href="__STATIC__/member_apply.html">企业中心</a></span> <em class="dl_header_line dl_padtb05">|</em> </span> 
        <span class="pad3"><a href="__STATIC__//Portal/Account/Logout">退出</a></span> 
       </div> 
       <div class="unLogin" style="display:none"> 
        <span class="pad3"><a href="__STATIC__/index.html">招聘首页</a></span> 
        <em class="dl_header_line dl_padtb05">|</em> 
        <span class="pad3"><a href="__STATIC__//Portal/Account/Login">登录</a></span> 
        <em class="dl_header_line dl_padtb05">|</em> 
        <span class="pad3"><a href="__STATIC__//Portal/Account/Register">注册</a></span> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="dl_content dl_gray_bg"> 
    <!----> 
    <!--申请职位 s--> 
    <!--申请职位 e--> 
    <!--我的简历 s--> 
    <!--简历内容 s--> 
    <div class="dl_bigwrap dl_heightagain clearfix dl_grey_bc"> 
     <div class="leftmenu" style="width:150px"> 
      <div class="dl_greyline_bg"> 
       <span class="dl_menutit">个人中心</span> 
      </div> 
      <ul class="dl_menulist clearfix"> 
       <ul class="dl_menulist clearfix"> 
        <li> <a href="__SITE__/index/user/gui" class="apply">填写规则</a> </li> 
        <li> <a href="__SITE__/index/user/info" class="shoucang">填写企业资料</a></li> 
        <li> <a href="__SITE__/index/user/password" class="shoucang">修改密码</a></li>
        <li> <a href="__SITE__/index/user/custome" class="shoucang">修改图像</a></li>
        <li> <a href="__SITE__/index/user/posinfo" class="shoucang">发布招聘信息</a></li>
        <li> <a href="__SITE__/index/user/resumecom" class="shoucang">查看企业资料</a></li>
        <li> <a href="__SITE__/index/user/coume" class="shoucang">查看简历</a></li>
        <li> <a href="__SITE__/index/user/position" class="shoucang">已发职位</a></li>
       <li> <a href="__SITE__/index/index" class="shoucang">返回首页</a> </li>
       </ul> 
      </ul> 
     </div> 
     <div class="rightcontent dl_height1 dl_new_error_wrap" style="width:750px;height:800px;"> 
      <h3 class="dl_bigtit"><span class="dl_postit">修改企业资料</span></h3>
      
      <form action="{:url('index/Auth/updateCompany')}" method="post"> 
      <div class="dl_importprofile"> 
       <select name="address">
          <option value="">工作地区</option>
          {foreach $city as $c}
          <option value="{$c['sid']}">{$c['classname']}</option>
          {/foreach}  
       </select>

       <select name="category">
          <option value="">行业</option>
          {foreach $vocation as $v}
          <option value="{$v['vid']}">{$v['classname']}</option>
          {/foreach}
       </select> 
       <span id="previewBtnDisable" class="look" style="color:#666;display:none;">预览简历</span>    
       <li style="padding:10px;margin-left:-500px;margin-top:60px;">
       <label style="font-size: 14px;color:black;">公司名称: &nbsp;</label>
       <input type="text" name="name" placeholder=" &nbsp;{$result['name']}" style="width:250px;height:26px;">
       </li>
        <li style="padding:10px;margin-left:-500px;"> <label style="font-size: 14px;color:black;">企业法人: &nbsp; </label> <input type="text" name="contactor" placeholder=" &nbsp;{$result['contactor']}" style="width:250px;height:26px;">
        </li>
           <li style="padding:10px;margin-left:-500px;">
           <label style="font-size: 14px;color:black;">联系电话: &nbsp; </label>
           <input type="text" name="phone" placeholder=" &nbsp;{$result['phone']}" style="width:250px;height:26px;">
           </li>
         <label style="font-size: 14px;position: absolute;left:450px;color:black;">公司简介: &nbsp;</label>
           <textarea style="position:absolute;top:300px;right:350px; width:480px;height:290px;" name="history" placeholder="内容不能超过300字......"></textarea>
           <input type="submit" style="position: absolute;top:763px;left:1040px;
           width:65px;height:33px;color:white;background: #428BCA;border:none; font-size:14px;border-radius: 0.5em" value="提交" >
      </div> 
      </form>
      <button id="btn" type="button" class="btn btn-primary" style="position:absolute;top:762px;right:350px">返回上一级</button>
        <script>
        $("#btn").click(function(){
          location.href = "resumecom";
        });
        </script>

      <style type="text/css">
    *html .dl_myleftform .form_container {
        width: 490px;
        overflow: hidden;
    }

        *html .dl_myleftform .form_container .form_part .columntwo ul {
            width: 360px;
            overflow: hidden;
        }

        *html .dl_myleftform .form_container ul li {
            width: 360px;
            overflow: hidden;
        }
            /* .dl_myleftform .form_container li label{width: 100px}*/
            *html .dl_myleftform .form_container ul li span.preview_text {
                width: 220px;
                overflow: hidden;
            }

    .form_container li textarea {
        border: 1px solid #c1d5df;
        float: left;
        height: 100px;
        margin-right: 5px;
        padding: 3px;
        width: 300px;
    }
</style> 
  
     
   
 </body>
</html>